<h1 style="color: red;">HELLO ANGULAR</h1>
<a href="https://angular.io/guide/setup-local">Angular Documentation</a>
<div>
  <a href="https://www.bing.com/ck/a?!&&p=14515711e01304e6JmltdHM9MTY2NDQ5NjAwMCZpZ3VpZD0zOTZlZTMxNy1kNTYwLTZhN2EtM2EyNC1mMmQ5ZDRkMjZiZTAmaW5zaWQ9NTIwMA&ptn=3&hsh=3&fclid=396ee317-d560-6a7a-3a24-f2d9d4d26be0&u=a1aHR0cHM6Ly93d3cudzNzY2hvb2xzLmNvbS9jc3NyZWYvcHJfYmFja2dyb3VuZC1pbWFnZS5hc3A&ntb=1">
  <img class="image_style" src="https://getwallpapers.com/wallpaper/full/5/a/7/795479-download-cool-sunset-backgrounds-2560x1600-photo.jpg" width="300" height="150" alt="bckgrnd-img">
  </a>

</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Quas nihil minus facilis autem quasi reprehenderit sit corrupti dignissimos placeat sint 
  impedit enim mollitia eum quam, excepturi repellat assumenda laboriosam vitae?</p>

  <h3>Interpolation in angular </h3>
  <h2> {{title}}</h2>
  <h2>{{data}}</h2>